// Helpers & variables
@import "../Variables.less";
@import "Iconfont.less";

@base-color: #4e6666;
@base-color: @brand-secondary;
@light-color: lighten(@base-color, 50%);
@label-padding: 2pt;

// Thanks https://stackoverflow.com/a/4407335
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome, Edge, Opera and Firefox */
}

.no-tap-highlight() {
    -webkit-tap-highlight-color: transparent;
}
