@import "./VideoPlayer.less";

.control-bar {
    border-right: none !important;
}

.document-view {
    background-color: black;

    .tx-dlf-view {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .media-viewport {
        height: 100%;
    }
}

.sxnd-player-fatal-error {
    position: absolute;
    text-align: left;
    padding-left: 1em;
    padding-top: 1em;
}

// Chapter link in sidebar
.chapter {
    cursor: pointer;
}

.screenshot-modal {
    height: 90%;

    .screenshot-config {
        text-align: left;
        margin-bottom: 0.6rem;

        .show-metadata label {
            padding-left: @label-padding;
        }
    }

    canvas {
        background-color: black;
        width: 100%;
        height: auto;
    }
}

.bookmark-modal {
    text-align: left;

    .url-line {
        display: flex;

        input {
            width: 90%;
            height: 2rem;
            font-size: 1rem;
            line-height: 1rem;
            color: @base-color;
            margin-right: 4pt;
        }
    }

    .start-at {
        display: none;
        margin-top: 1em;

        label {
            padding-left: @label-padding;
        }

        &.shown {
            display: block;
        }
    }
}

.help-modal {
    .subheader {
        text-align: left;
        font-weight: bold;

        &:not(:nth-child(1)) {
            margin-top: 2em;
        }
    }

    .keybindings-table {
        .kb-text {
            white-space: nowrap;
        }

        .or-sep {
            font-weight: bolder;
        }

        td:nth-child(1) {
            width: 40%;
            text-align: right;
        }

        td:nth-child(2) {
            padding-left: 3em;
            text-align: left;
        }
    }
}

.sxnd-modal-cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100000;

    &.shown {
        display: block;
    }
}

.sxnd-modal {
    position: absolute;
    display: none;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(@base-color, 0.9);
    color: white;
    border-radius: 5px;
    padding: 3rem;
    z-index: 999999;

    left: 1rem;
    right: 1rem;

    @media screen and (min-width: @desktopViewportWidth) {
        left: 5rem;
        right: 5rem;
    }

    .headline-container {
        position: relative;
        padding-bottom: 1rem;

        .modal-close {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        }
    }

    .body-container {
        padding: 2rem;
        overflow-y: auto;
        // max-height is set in JS
    }

    h3 {
        font-weight: 700;
    }

    table {
        width: 100%;
        padding: 5rem 0;

        tr {
            &:not(:last-child) {
                border-bottom: 1px dotted @light-color;
            }

            &:first-child {
                border-bottom: 1px solid @light-color;
            }

            td {
                color: white;
                line-height: 2rem;

                &.legend {
                    color: @light-color;
                    font-weight: 700;
                }
            }
        }
    }
}
