/*
 *
 * Header
 * ================================================
 * Definition for header image, logo, page titles
 * (for breadcrumb eg. look in Navigation.less)
 *
 * Author: Thomas Jung <thomas@jung.digital>
 *
 */

.header {
    position: relative;
    height: 80px;
    margin: 0;
    border: 0 none;
    background: @brand-secondary;
    .vertgrad(fade(@brand-secondary, 0%), fade(@brand-primary, 30%), 0, 100%);
    transition: @transition;
    &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(../Images/noise.png) repeat 0 0;
        background-size: 90px 45px;
        content: " ";
        opacity: 0.1;
    }
    a.header-brand {
        position: absolute;
        top: 15px;
        left: 15px;
        right: 100px;
        height: 50px;
        margin: 0;
        padding: 0;
        display: block;
        .text-hide();
        background: url('../Images/sxndLogo.svg') no-repeat left center;
        background-size: 100% 100%;
        &:focus-visible {
            outline: 1px solid rgba(white, .5);
            outline-offset: 2px;
        }
    }
    @media screen and (min-width: @phoneLandscapeViewportWidth) {
        a.header-brand {
            left: 30px;
            right: auto;
            width: 300px;
        }
    }
    @media screen and (min-width: @tabletViewportWidth) {
        height: 100px;
        a.header-brand {
            top: 25px;
            left: 50px;
        }
    }
    @media screen and (min-width: @tabletLandscapeViewportWidth) {
        a.header-brand {
            left: 0;
        }
    }
    @media screen and (min-width: @desktopViewportWidth) {
        height: 140px;
        a.header-brand {
            top: 40px;
        }
    }
}

