/*
 *
 * Home
 * ================================================
 * Specials for the homepage
 *
 * Author: Thomas Jung <thomas@jung.digital>
 *
 */

.level-0 {
    section { // Basic design settings for homepage settings -----------------------------------------------------------
        position: relative;
        margin: 100px 0;
        text-align: center;
        @media screen and (min-width: @tabletViewportWidth) {
            margin: 140px 0;
        }
    }
    section.highlights { // The highlights slider up top ---------------------------------------------------------------
        //TBD
    }
    section.search { // The homepages search container -----------------------------------------------------------------
        //TBD
    }
    section.mission { // The mission statement -------------------------------------------------------------------------
        //TBD
    }
    section.counter { // The counter element with large numbers --------------------------------------------------------
        //TBD
    }
    section.collections { // The masonry based collections element -----------------------------------------------------
        //TBD
    }
    section.becomemember { // The members section just before the footer -----------------------------------------------
        a.btn {
            margin: 40px 0;
        }
        @media screen and (min-width: @tabletViewportWidth) {
            &:before {
                position: absolute;
                top: -50px;
                left: 0;
                width: 100%;
                height: 400px;
                background: url('data:image/svg+xml;base64,PHN2ZyBpZD0iRWJlbmVfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSI3NjgiIHZpZXdCb3g9IjAgMCAxMDI0IDc2OCI+PHN0eWxlPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojNGU2NDY2O3N0cm9rZS13aWR0aDoyO3N0cm9rZS1taXRlcmxpbWl0OjEwfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTk0MS45IDEyOHYtMjMuNmMwLTM3LjctMzAuOS02OC42LTY4LjctNjguNkg1NjguM2MtMzcuNyAwLTQ2LjggMjEuOC0yMC4xIDQ4LjVsNDMuNyA0My43aDM1MHpNOTQxLjkgMTk2LjZINjYwLjVMNzYxLjkgMjk4aDE4MHpNODMwLjYgMzY2LjdsNjIuOCA2Mi44YzI2LjcgMjYuNyA0OC41IDE3LjcgNDguNS0yMC4xdi00Mi43SDgzMC42ek04OTkuNSA1NDkuOUw1MTAuNyAxNjEuMWwtODYuOS04Ni45Yy0yMS4xLTIxLjEtNjkuMy0zOC40LTEwNy0zOC40SDExNi4yYy0xOC45IDAtMzQuMyAxNS40LTM0LjMgMzQuM3Y1MzIuMmMwIDE4LjkgMTUuNCAzNC4zIDM0LjMgMzQuM2g0MzkuM2wxMDMuNiAxMDMuNiAxMDMuNi0xMDMuNmgxMjcuNWMxOC44IDAgMzQuMS0xMy45IDM0LjEtMzAuOS4xLTE3LjEgMS45LTI5LjEtMjQuOC01NS44eiIvPjwvc3ZnPg==') no-repeat center center;
                background-size: contain;
                content: " ";
                opacity: 0.2;
            }
        }
        @media screen and (min-width: @desktopViewportWidth) {
            .container .frame-default {
                max-width: 720px;
                margin: 0 auto;
            }
        }
    }
}

