<f:section name="Footer">
    <div class="footer">
        <div class="footernav-wrapper">
            <div class="container">
                <f:cObject typoscriptObjectPath="lib.menu.secondary" />
            </div>
        </div>
        <div class="footercontent-wrapper">
            <div class="container">
                <div class="partnerlogo-bar">
                    <f:link.external uri="https://www.sachsen.de" target="_blank" class="partner-sxn">Freistaat Sachsen</f:link.external>
                    <f:link.external uri="https://www.slub-dresden.de" target="_blank" class="partner-slub">SLUB Sachsen</f:link.external>
                </div>
                <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="5" />
            </div>
        </div>
        <a href="#top" class="totop"><f:translate key='footer.totop' extensionName='SlubWebSachsendigital' /></a>
    </div>
</f:section>
