<html data-namespace-typo3-fluid="true" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:section name="Footer">
    <div class="footer">
        <div class="footernav-wrapper">
            <div class="container">
                <f:render partial="Navigation" section="Footer" arguments="{_all}"/>
            </div>
        </div>
        <div class="footercontent-wrapper">
            <div class="container">
                <div class="partnerlogo-bar">
                    <f:link.external class="partner-sxn" target="_blank" uri="https://www.sachsen.de">Freistaat Sachsen</f:link.external>
                    <f:link.external class="partner-slub" target="_blank" uri="https://www.slub-dresden.de">SLUB Sachsen</f:link.external>
                </div>
                <f:cObject data="5" typoscriptObjectPath="lib.dynamicContentSlide"/>
            </div>
        </div>
        <a class="totop" href="#top">
            <f:translate extensionName='SlubWebSachsendigital' key='footer.totop'/>
        </a>
    </div>
</f:section>

</html>
