<f:section name="Header">
    <div class="header">
        <div class="container">
            <h1>
                <f:link.page pageUid="{rootPageId}" class="logo" tabindex="1" title="Sachsen.digital">Sachsen.digital</f:link.page>
            </h1>
            <button type="button" class="nav-open" aria-label="<f:translate key='nav.open' extensionName='slubWebLdp' />">
                <span></span>
                <span class="nav-button-bar"></span>
                <span class="nav-button-bar"></span>
                <span class="nav-button-bar"></span>
            </button>
        </div>
    </div>
</f:section>
