<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:section name="Header">
    <div class="header">
        <div class="container">
            <h1>
                <f:link.page class="logo" pageUid="{rootPageId}" tabindex="1" title="Sachsen.digital">Sachsen.digital</f:link.page>
            </h1>
            <button aria-controls="main-navigation" aria-label="{f:translate(key:'nav.open', extensionName:'slubWebSachsendigital')}" class="nav-open" type="button">
                <span class="visually-hidden"><f:translate key='nav.open' extensionName='slubWebSachsendigital' /></span>
                <span class="nav-button-bar"></span>
                <span class="nav-button-bar"></span>
                <span class="nav-button-bar"></span>
            </button>
        </div>
    </div>
</f:section>

</html>
