<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:section name="Header">
    <div class="header">
        <div class="container">
            <f:link.page class="header-brand" pageUid="{rootPageId}" title="Startseite von Sachsen.digital">Sachsen.digital</f:link.page>
            <nav class="main-navigation" id="main-navigation">
                <f:render partial="Navigation" section="Main" arguments="{_all}"/>
                <button aria-label="<f:translate key='nav.close' extensionName='slubWebSachsendigital' />" class="nav-close" type="button">
                    <span></span>
                    <span class="nav-button-bar"></span>
                    <span class="nav-button-bar"></span>
                </button>
            </nav>
            <button aria-controls="main-navigation" aria-label="{f:translate(key:'nav.open', extensionName:'slubWebSachsendigital')}" class="nav-open" type="button">
                <span class="visually-hidden"><f:translate extensionName='slubWebSachsendigital' key='nav.open'/></span>
                <span class="nav-button-bar"></span>
                <span class="nav-button-bar"></span>
                <span class="nav-button-bar"></span>
            </button>
        </div>
    </div>
</f:section>

</html>
