<!-- ###TEMPLATEYEAR### begin -->
<div class="tx-slub-web-ldp-newspaper-years">
	<ul>
	<!-- ###LISTYEAR### begin -->
		<li class="year">
			###YEARNAME###
		</li>
	<!-- ###LISTYEAR### end -->
</div>
<!-- ###TEMPLATEYEAR### end -->
