<!-- ###TEMPLATEYEAR### begin -->
<div class="tx-slub_web_sachsendigital-newspaper-years">
	<ul>
	<!-- ###LISTYEAR### begin -->
		<li class="year">
			###YEARNAME###
		</li>
	<!-- ###LISTYEAR### end -->
</div>
<!-- ###TEMPLATEYEAR### end -->
