<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Page"/>

<f:section name="Content">
    <div class="content-wrapper container">
        <div class="page-header">
            <f:render partial="Navigation" section="Rootline" arguments="{_all}"/>
            <f:if condition="{data.subtitle}">
                <f:then>
                    <h2>{data.subtitle}</h2>
                </f:then>
                <f:else>
                    <h2>{data.title}</h2>
                </f:else>
            </f:if>
        </div>
        <f:cobject typoscriptObjectPath="lib.pageimage"/>
        <f:format.raw>{content}</f:format.raw>
    </div>
</f:section>

</html>
