<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Page"/>

<f:section name="Content">
    <section class="mission">
        <div class="container">
            <f:cObject data="0" typoscriptObjectPath="lib.dynamicContent"/>
        </div>
    </section>
    <section class="highlights">
        <div class="container">
            <f:cObject data="1" typoscriptObjectPath="lib.dynamicContent"/>
        </div>
    </section>
    <section class="video">
        <div class="container">
            <f:cObject data="11" typoscriptObjectPath="lib.dynamicContent"/>
        </div>
    </section>
    <section class="becomemember">
        <div class="container">
            <f:cObject data="3" typoscriptObjectPath="lib.dynamicContent"/>
        </div>
    </section>
    <section class="institutes">
        <div class="container">
            <f:cObject data="2" typoscriptObjectPath="lib.dynamicContent"/>
            <div class="selected-logos">
                <f:cObject typoscriptObjectPath="lib.institutions"/>
            </div>
        </div>
    </section>
    <section class="technology">
        <div class="container">
            <f:cObject data="4" typoscriptObjectPath="lib.dynamicContent"/>
        </div>
    </section>
</f:section>
</html>
