<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:for as="institution" each="{institutions}">
    <f:for as="file" each="{institution.files}">
        <div class="institute-logo">
            <f:if condition="{file.link}">
                <f:then>
                    <f:link.external target="_blank" uri="{file.link}">
                        <f:image alt="Logo {file.title}" crop="FALSE" image="{file}" title="{file.title}" width="150"/>
                    </f:link.external>
                </f:then>
                <f:else>
                    <f:image alt="Logo {file.title}" crop="FALSE" image="{file}" title="{file.title}" width="150"/>
                </f:else>
            </f:if>
        </div>
    </f:for>
</f:for>

</html>
